@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bree+Serif&family=Poppins:wght@300;400;500;600&family=Roboto+Mono:wght@100&family=Roboto:ital,wght@0,100;0,300;0,500;0,700;1,100;1,300&family=Source+Code+Pro:wght@300&family=Unbounded:wght@200&display=swap");
@import "./colors.scss";
@import "./header.scss";
@import "./home.scss";
@import "./hero.scss";
@import "./featured_products.scss";
@import "./footer.scss";

* {
  margin: 0;
  padding: 0;
  font-family: "roboto", sans-serif;
  text-decoration: none;
  box-sizing: border-box;
}

body{
  background:#f1f1f1;
}


h1{
  font-weight: 600;
  font-size: 40px;
  color: $search;
}

h2{
  font-weight: 400;
  font-size: 24px;
}


a {
  font-weight: 500;
  // text-transform: uppercase;
  text-decoration: inherit;
  transition: 0.5s ease;
}
a:hover {
  color: #535bf2;
}


p{
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  color: $primary1;
}

button{
  padding: 12px 10px;
  font-size: 14px;
  background: transparent;
  border-radius: 10px;
  border: 1px solid $lighter1;
  &:hover{
    border: 1px solid $lighter1;
    cursor: pointer;

  }
}

a , input:focus{
  outline: none;
}

.container-xxl{
      margin-right: auto;
    margin-left: auto;
    padding: 0 5.25rem;
    // width: 100%;
}
.text-center{
  text-align: center;
  align-items: center;
  justify-content: center;
}
.flex{
  display: flex;
}
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}
.gap-2{
  gap: 2rem;
}
.mb-3{
  margin-bottom: 1rem;
}
.mb-4{
  margin-bottom: 1.5rem;
}
.m-auto{
  margin: auto;
}
.mt-5{
  margin-top: 3rem;
}
.p-5{
  padding: 3rem;
}
.my-4{
  margin: 1.5rem 0
}
.row-grid{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 5rem;
  // place-items: center;
}
.flex-center-column{
    display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  }
  .row-grid-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .flex-50{
    flex-basis: 50%;
  }