@import './colors.scss';
.cart{
    background: $lighter1;
     
    // height: 100vh;

    .cart-details{
        display: grid;
        grid-template-columns: 4fr 1fr;
        gap: 5rem;
        
    }

    .cartItem{
    background-color: white;
    width: 100%;
    border-radius: 10px;
    margin: 2rem 0;
    padding: 2rem;
    display: grid ;
    grid-template-columns: 1fr 3fr 1fr 1fr;
    align-items:center;

    >img{ 
        width: 100px;
        height: 200px;
        object-fit: contain;
        

    }
    p{
        margin: 1rem 1rem;
    }
    >div{
        display: flex;
        align-items: center;
        height: 100%;
        button{
            width: 30px;
            height: 30px;
            border: none;
            background-color: $primary;
            color: $white;
            cursor: pointer;
            display: grid;
            place-content: center;
            border-radius: 5px;
            &:hover{
                background-color: $primary1;
            }

        }
        >p{
            display: grid;
            place-content: center;
            height: 30px;
            width: 30px;
            
        }
        
    }
    >svg{
            cursor: pointer;
            font-size: 1.5rem;   
            display: inline-block;
            margin: auto;
            &:hover{
                color: $search;
            }
        }
}



.cart_aside{
        border-radius:100px 0 100px ;
        background-color: $primary;
        color: $white;
        width: 100%;
        height: 70vh;
        position: sticky;
        top: 6rem;
        box-shadow: -10px 0 10px rgba($color: #000000, $alpha: 0.182);
        display: flex;
        flex-direction: column;
        justify-content: center;
    
        >h2{
            
            
            margin: 1rem;
            font: 100 1.5rem 'robto';
            letter-spacing: 2px;
            &:last-of-type{
                font-weight: 600;
            }
        }
    }

}