@import "./colors.scss";

.card {
background-color: white;
  // max-width: 250px;

  .card-text {
    color: $darken;
    margin-bottom: 0.5rem;
    font-size: 14px;
    text-transform: lowercase;
  }
  .card-footer {
    padding: 1rem 0.5rem;
    margin: 1rem 0.5rem 0.5rem;
    background-color: rgba(33, 37, 41, 0.1);

    border-top: 2px solid rgba(0, 0, 0, 0.175);
  }
  .card-img {
    border-radius: 20px;
    max-width: 100%;
    height: 220px;
    background:$white;
    // border: 1px solid rgba(0, 0, 0, 0.175);
    padding: 8px;
    margin: 0 5px;
  }
}
