@import './colors.scss';
header{
    background: $lighter2;
    padding: 0 5.25rem;

    display: flex;
    
}
.nav_section{
    flex-basis: 83.4%;

}
.logo_section{
    flex-basis:16.6% ;
    width: 100%;
    display: grid;
    place-items:  center;
    > img{
        max-width: 100%;
    height: 40px;
    }
}